<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container-fluid {
            width: 700px;
            min-height: 780px;
            padding: 20px;
        }

        h1 {
            padding: 20px 20px;
            display: inline-block;
            text-align: left;
            height: 30px;
            margin-bottom: 50px;
            /* width: 550px;   */
        }
    </style>
    <title>TV Show</title>
</head>

<body>
    <div class="container">
        
        <h1 class="mr-5"> TV Show</h1>
        <a href="/show" class="ml-5"> Go Back</a>
        <div class="text-right">
            <h2>Title: {{show.title}}</h2>
            <h2>Network: {{show.network}}</h2>
            <h2>Release Date: {{show.release_date}}</h2>
            <h2>Description: {{show.description}}</h2>
            <h4>Last Update: {{show.updated_at}}</h4>
            <a href="/show/{{show.id}}/update">Edit</a> |
            <a href="/show/{{show.id}}/destroy">Delete</a>
        </div>
        <!-- <a href="Go Back" class="ml-5"> Go Back</a>
        <span class="border border-warning"></span>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="showTitle"
                    placeholder="Show Title" style="width: 600px">
            </div>
            <div class="form-group">
                <label for="network">Network</label>
                <input type="text" class="form-control d-inline-block m-3" name="network" id="exampleNetwork1"
                    placeholder="Network" style="width: 200px">
                <label for="InputReleaseDate1">Date</label>
                <input type="date" class="form-control d-inline-block m-3" name="InputReleaseDate1"
                    id="InputReleaseDate1" placeholder="ReleaseDate" style="width: 200px">
            </div>

            <div class="form-group">
                <label for="description1">Description</label>
                <textarea class="form-control" name="description1" rows="5"></textarea>
            </div>

            <a class="btn btn-primary" href="#" role="button">Update</a>
            <a href="Go Back Show" class="ml-5"> Go to Show</a> -->
    </div>
    </form>



</body>

</html>